<p>
  <mat-toolbar>
    <button
      mat-icon-button
      class="ms-icon"
      aria-label="icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>MyStore</span>
    <span class="ms-spacer"></span>

    <button
      mat-icon-button
      class="ms-icon favorite-icon"
      aria-label="icon-button with shopping icon"
      (click)="redirectToShoppingCart()"
    >
      <mat-icon>shopping_cart</mat-icon>
    </button>

    <button
      mat-icon-button
      class="ms-icon favorite-icon"
      aria-label="icon-button with login icon"
      (click)="redirectToHome()"
    >
      <mat-icon>home</mat-icon>
    </button>

    <div *ngIf="isLoggedIn">
      <button
        mat-icon-button
        class="ms-icon"
        aria-label="icon-button with logout icon"
        (click)="clickToLogout()"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</p>
