<p>
  <mat-toolbar>
    <button
      mat-icon-button
      class="ms-icon"
      aria-label="icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>MyStore</span>
    <span class="ms-spacer"></span>

    <div *ngIf="isLoggedIn">
      <button
        mat-icon-button
        class="ms-icon"
        aria-label="icon-button with logout icon"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </div>

    <!-- Header template for logged out user -->
    <div *ngIf="!isLoggedIn">
      <button
        mat-icon-button
        class="ms-icon favorite-icon"
        aria-label="icon-button with login icon"
      >
        <mat-icon>login</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</p>
